*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
/spec/examples.txt

.DS_Store
/supplejack_common.sublime-workspace
/supplejack_common.sublime-project
